<% if @payment_method && @payment_method.id %>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            <%= Spree.t(:stores) %>
          </h1>
        </div>

        <div class="panel-body">
          <%= f.field_container :stores, :class => ["form-group"] do %>
            <% payment_method_stores = @payment_method.stores.to_a %>
            <% Spree::Store.all.each do |store| %>
              <div class="checkbox">
                <%= label_tag do %>
                  <%= check_box_tag("payment_method[stores][]", store.id, payment_method_stores.include?(store)) %>
                  <%= store.name %>
                <% end %>
              </div>
            <% end %>
            <%= f.error_message_on :store_id %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>